body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 10px;
}

main {
    padding: 20px 0;
}

table {
    width: 80%;
    margin: 20px auto; /* menengahkan tabel */
    border-collapse: collapse;
    background-color: #f9f9f9; /* memberikan warna latar belakang */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

input[type="text"],
input[type="file"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.submit {
    margin-top: 15px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Tambahkan aturan gaya untuk form tambah barang */
form {
    width: 80%;
    margin: 20px auto;
}

.input {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.submit {
    margin-top: 15px;
}

/* Tambahkan aturan gaya untuk tabel pada form tambah barang */
.styled-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #f9f9f9;
}

.styled-table, .styled-table th, .styled-table td {
    border: 1px solid #ddd;
}

.styled-table th, .styled-table td {
    padding: 10px;
    text-align: left;
}
